In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv('C:\\Users\\VIKHYAT\\Downloads\\train.csv')
raw_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
raw_data.drop(['PassengerId' , 'Name'] , inplace=True , axis=1)

In [4]:
raw_data

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [5]:
raw_data['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars', nan], dtype=object)

In [6]:
raw_data['HomePlanet'].fillna(raw_data['HomePlanet'].mode()[0] , inplace=True)

In [7]:
raw_data['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars'], dtype=object)

In [8]:
raw_data['HomePlanet'].value_counts()

Earth     4803
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [9]:
raw_data['HomePlanet'].isnull().sum()

0

In [10]:
raw_data['HomePlanet'].replace(['Europa', 'Earth', 'Mars'] , [1,2,3] , inplace=True)

In [11]:
raw_data['CryoSleep'].fillna(raw_data['CryoSleep'].mode()[0] , inplace=True)

In [12]:
raw_data['CryoSleep'].isnull().sum()

0

In [13]:
raw_data['CryoSleep'].replace([True , False] , [1,0] , inplace=True)

In [14]:
raw_data['Destination'].isnull().sum()

182

In [15]:
raw_data['Destination'].unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [16]:
raw_data['Destination'].fillna(raw_data['Destination'].mode()[0] , inplace=True)

In [17]:
raw_data['Destination'].isnull().sum()

0

In [18]:
raw_data['Destination'].replace(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e'] , [1,2,3] , inplace=True)

In [19]:
raw_data['Age'].fillna(raw_data['Age'].mean() , inplace=True)

In [20]:
raw_data['Age'].isnull().sum()

0

In [21]:
raw_data['VIP'].fillna(raw_data['VIP'].mode()[0] , inplace=True)

In [22]:
raw_data['VIP'].isnull().sum()

0

In [23]:
raw_data['VIP'].replace([True , False] , [1,0] , inplace=True)

In [24]:
raw_data['RoomService'].unique()

array([   0.,  109.,   43., ..., 1569., 8586.,  745.])

In [25]:
raw_data['RoomService'].isnull().sum()

181

In [26]:
len(raw_data['RoomService'].unique())

1274

In [27]:
raw_data['RoomService'].fillna(raw_data['RoomService'].mean() , inplace=True)

In [28]:
raw_data['RoomService'].isnull().sum()

0

In [29]:
raw_data['FoodCourt'].unique()

array([   0.,    9., 3576., ..., 3208., 6819., 4688.])

In [30]:
raw_data['FoodCourt'].isnull().sum()

183

In [31]:
raw_data['FoodCourt'].fillna(raw_data['FoodCourt'].mean() , inplace=True )

In [32]:
raw_data['ShoppingMall'].fillna(raw_data['ShoppingMall'].mean() , inplace=True)

In [33]:
# raw_data.head()

In [34]:
raw_data['Spa'].fillna(raw_data['Spa'].mean() , inplace=True)

In [35]:
raw_data.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,0,B/0/P,1,39.0,0,0.0,0.0,0.0,0.0,0.0,False
1,2,0,F/0/S,1,24.0,0,109.0,9.0,25.0,549.0,44.0,True
2,1,0,A/0/S,1,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False
3,1,0,A/0/S,1,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False
4,2,0,F/1/S,1,16.0,0,303.0,70.0,151.0,565.0,2.0,True

In [36]:
raw_data.isnull().sum()

HomePlanet        0
CryoSleep         0
Cabin           199
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck          188
Transported       0
dtype: int64

In [37]:
raw_data['VRDeck'].unique()

array([   0.,   44.,   49., ..., 1164.,  971., 3235.])

In [38]:
len(raw_data['VRDeck'].unique())

1307

In [39]:
raw_data['VRDeck'].fillna(raw_data['VRDeck'].mean() , inplace=True)

In [40]:
raw_data['Transported'].replace([True , False] , [1,0] , inplace=True)

In [41]:
raw_data.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,1,0,B/0/P,1,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,2,0,F/0/S,1,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,1,0,A/0/S,1,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0
3,1,0,A/0/S,1,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0
4,2,0,F/1/S,1,16.0,0,303.0,70.0,151.0,565.0,2.0,1

In [42]:
raw_data['Cabin'].unique()

array(['B/0/P', 'F/0/S', 'A/0/S', ..., 'G/1499/S', 'G/1500/S', 'E/608/S'],
      dtype=object)

In [43]:
len(raw_data['Cabin'].unique())

6561

In [44]:
raw_data[['C1','C2','C3']] = raw_data.Cabin.str.split('/',expand=True)
raw_data.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,C1,C2,C3
0,1,0,B/0/P,1,39.0,0,0.0,0.0,0.0,0.0,0.0,0,B,0,P
1,2,0,F/0/S,1,24.0,0,109.0,9.0,25.0,549.0,44.0,1,F,0,S
2,1,0,A/0/S,1,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,A,0,S
3,1,0,A/0/S,1,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,A,0,S
4,2,0,F/1/S,1,16.0,0,303.0,70.0,151.0,565.0,2.0,1,F,1,S

In [45]:
raw_data['C1'].unique()

array(['B', 'F', 'A', 'G', nan, 'E', 'D', 'C', 'T'], dtype=object)

In [46]:
raw_data['C1'].value_counts()

F    2794
G    2559
E     876
B     779
C     747
D     478
A     256
T       5
Name: C1, dtype: int64

In [47]:
raw_data['C1'].fillna(raw_data['C1'].mode()[0] , inplace=True)

In [48]:
raw_data['C1'].unique()

array(['B', 'F', 'A', 'G', 'E', 'D', 'C', 'T'], dtype=object)

In [49]:
x = ['B', 'F', 'A', 'G', 'E', 'D', 'C', 'T']
x.sort()
x

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']

In [50]:
raw_data['C1'].replace(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'] , [1,2,3,4,5,6,7,8] , inplace=True)

In [51]:
raw_data['C1'].isnull().sum()

0

In [52]:
raw_data['C2'].unique()

array(['0', '1', '2', ..., '1892', '1893', '1894'], dtype=object)

In [53]:
len(raw_data['C2'].unique())

1818

In [54]:
raw_data['C2'].value_counts()

82      28
86      22
19      22
56      21
176     21
        ..
1644     1
1515     1
1639     1
1277     1
1894     1
Name: C2, Length: 1817, dtype: int64

In [55]:
raw_data['C2'].fillna(raw_data['C2'].mode()[0] , inplace=True)

In [56]:
raw_data['C2'].unique()

array(['0', '1', '2', ..., '1892', '1893', '1894'], dtype=object)

In [57]:
raw_data['C2'].isnull().sum()

0

In [58]:
raw_data['C3'].isnull().sum()

199

In [59]:
raw_data['C3'].unique()

array(['P', 'S', nan], dtype=object)

In [60]:
raw_data['C3'].value_counts()

S    4288
P    4206
Name: C3, dtype: int64

In [61]:
raw_data['C3'].fillna(raw_data['C3'].mode()[0] , inplace=True)

In [62]:
raw_data['C3'].replace(['P' ,'S'] , [1,2] , inplace=True)

In [63]:
raw_data['C3'].isnull().sum()

0

In [64]:
raw_data.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,C1,C2,C3
0,1,0,B/0/P,1,39.0,0,0.0,0.0,0.0,0.0,0.0,0,2,0,1
1,2,0,F/0/S,1,24.0,0,109.0,9.0,25.0,549.0,44.0,1,6,0,2
2,1,0,A/0/S,1,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,1,0,2
3,1,0,A/0/S,1,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,2
4,2,0,F/1/S,1,16.0,0,303.0,70.0,151.0,565.0,2.0,1,6,1,2

In [65]:
raw_data.drop(['Cabin'] , inplace=True , axis=1)

In [66]:
raw_data.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
C1              0
C2              0
C3              0
dtype: int64

In [67]:
raw_data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,C1,C2,C3
0,1,0,1,39.0,0,0.0,0.0,0.0,0.0,0.0,0,2,0,1
1,2,0,1,24.0,0,109.0,9.0,25.0,549.0,44.0,1,6,0,2
2,1,0,1,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,1,0,2
3,1,0,1,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,2
4,2,0,1,16.0,0,303.0,70.0,151.0,565.0,2.0,1,6,1,2

In [68]:
train_ans = raw_data['Transported']

In [69]:
raw_data.drop(['Transported'] , inplace=True , axis=1)

In [70]:
raw_data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,C1,C2,C3
0,1,0,1,39.0,0,0.0,0.0,0.0,0.0,0.0,2,0,1
1,2,0,1,24.0,0,109.0,9.0,25.0,549.0,44.0,6,0,2
2,1,0,1,58.0,1,43.0,3576.0,0.0,6715.0,49.0,1,0,2
3,1,0,1,33.0,0,0.0,1283.0,371.0,3329.0,193.0,1,0,2
4,2,0,1,16.0,0,303.0,70.0,151.0,565.0,2.0,6,1,2

In [71]:
from sklearn.linear_model import LogisticRegression

In [72]:
clf = LogisticRegression()

In [73]:
clf.fit(raw_data , train_ans)

D:\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [74]:
clf.score(raw_data ,train_ans)

0.7838490739675601

In [75]:
test_data = pd.read_csv('C:\\Users\\VIKHYAT\\Downloads\\test.csv')
test_data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [76]:
test_data.drop(['PassengerId' , 'Name'] , inplace=True , axis=1)
test_data['HomePlanet'].fillna(test_data['HomePlanet'].mode()[0] , inplace=True)
test_data['HomePlanet'].replace(['Europa', 'Earth', 'Mars'] , [1,2,3] , inplace=True)
test_data['CryoSleep'].fillna(test_data['CryoSleep'].mode()[0] , inplace=True)
test_data['CryoSleep'].replace([True , False] , [1,0] , inplace=True)
test_data['Destination'].fillna(test_data['Destination'].mode()[0] , inplace=True)
test_data['Destination'].replace(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e'] , [1,2,3] , inplace=True)
test_data['Age'].fillna(test_data['Age'].mean() , inplace=True)
test_data['VIP'].fillna(test_data['VIP'].mode()[0] , inplace=True)
test_data['VIP'].replace([True , False] , [1,0] , inplace=True)
test_data['RoomService'].fillna(test_data['RoomService'].mean() , inplace=True)
test_data['FoodCourt'].fillna(test_data['FoodCourt'].mean() , inplace=True)
test_data['ShoppingMall'].fillna(raw_data['ShoppingMall'].mean() , inplace=True)
test_data['Spa'].fillna(raw_data['Spa'].mean() , inplace=True)
test_data['VRDeck'].fillna(test_data['VRDeck'].mean() , inplace=True)
test_data[['C1','C2','C3']] = test_data.Cabin.str.split('/',expand=True)
test_data['C1'].fillna(test_data['C1'].mode()[0] , inplace=True)
test_data['C1'].replace(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'] , [1,2,3,4,5,6,7,8] , inplace=True)
test_data['C2'].fillna(test_data['C2'].mode()[0] , inplace=True)
test_data['C3'].fillna(test_data['C3'].mode()[0] , inplace=True)
test_data['C3'].replace(['P' ,'S'] , [1,2] , inplace=True)
test_data.drop(['Cabin'] , inplace=True , axis=1)

In [77]:
test_data.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,C1,C2,C3
0,2,1,1,27.0,0,0.0,0.0,0.0,0.0,0.0,7,3,2
1,2,0,1,19.0,0,0.0,9.0,0.0,2823.0,0.0,6,4,2
2,1,1,3,31.0,0,0.0,0.0,0.0,0.0,0.0,3,0,2
3,1,0,1,38.0,0,0.0,6652.0,0.0,181.0,585.0,3,1,2
4,2,0,1,20.0,0,10.0,0.0,635.0,0.0,0.0,6,5,2

In [78]:
predicted = clf.predict(test_data)

In [79]:
predicted

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [80]:
predicted = pd.DataFrame(predicted , columns=['predicted'])

In [81]:
t_data = pd.read_csv('C:\\Users\\VIKHYAT\\Downloads\\test.csv')
pass_data = t_data['PassengerId']
pass_data

0       0013_01
1       0018_01
2       0019_01
3       0021_01
4       0023_01
         ...
4272    9266_02
4273    9269_01
4274    9271_01
4275    9273_01
4276    9277_01
Name: PassengerId, Length: 4277, dtype: object

In [82]:
pass_data = pass_data.to_frame()
pass_data['Transported']=predicted['predicted']
pass_data.head()

  PassengerId  Transported
0     0013_01            1
1     0018_01            0
2     0019_01            1
3     0021_01            1
4     0023_01            1

In [83]:
pass_data['Transported'].replace([1 , 0] , [True , False] , inplace=True)
pass_data.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [84]:
pass_data.to_csv('C:\\Users\\VIKHYAT\\Downloads\\submission7.csv' , index=False)

In [85]:
# check = pd.read_csv('C:\\Users\\VIKHYAT\\Downloads\\submission5.csv')
# check

In [86]:
# check.dropna(inplace=True)

In [87]:
# check.to_csv('C:\\Users\\VIKHYAT\\Downloads\\submission6.csv' , index=False)